
{% extends "base.html" %}


{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <h1> {{ title }} </h1>
<form method="GET" action="" class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input class='form-control' type="text" name="q" placeholder="Search"  value="{{ request.GET.q }}"/>
            <span class="input-group-btn">
{#            <input class='btn btn-default' type="submit" value="Go" />#}
                <button class='btn btn-default' type="submit" >Search  <i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>
{% for obj in objects_list %}
    <div class="row">
        <div class="col-sm-12">
            {% if obj.draft %}<h3>Staff Only: Draft</h3>{% endif %}{% if obj.publish > today %}<h3>Future Post</h3>{% endif %}
            <h1><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h1></br>
            {% if obj.images %}
                <img src="{{ obj.images.url }}" class="img-responsive"/></br>
            {% endif %}
{#            {{ obj.category }}</br>#}
            <div class="markdown-content"><p>{{ obj.get_markdown|truncatechars_html:40 }}</p></div>
{#            {{ obj.timestamp }}</br>#}
            <hr>
        </div>

    </div>
{% endfor %}
</div>
{% endblock %}

<div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?{{ page_request_var }}={{ objects_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?{{ page_request_var }}={{ objects_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>